<div class="search-container">
  <input #searchInput type="text"
         placeholder="Buscar película..."
         [(ngModel)]="searchTerm"
         class="search-input"
         (input)=onSearch($event.target.value)
         (keydown)="onKeyDown($event, index)">
</div>

<div *ngIf="error" class="error-message">
  {{ error }}
</div>

<div class="grid">
  <div class="movie-card"
       #movie
       *ngFor="let movie of filteredMovies; let i = index"
       [attr.tabIndex]="i"
       (keydown)="onKeyDown($event, i)"
       (click)="onClick(movie)"
       (mouseenter)="onHover(i)">
       
    <img [src]="movie.image" [alt]="movie.title" class="movie-image">
    
    <div class="movie-info">
      <h3 class="movie-title">{{ movie.title }}</h3>
      <p class="movie-year">{{ movie.year }}</p>
    </div>
  </div>
  <div class="clear"></div>
</div>
