<div class="movie-detail" *ngIf="movie; else error">
  <img [src]="movie.image" [alt]="movie.title" class="movie-image">

  <div class="movie-info">
    <h1 class="movie-title">{{ movie.title }}</h1>
    <p class="movie-description">{{ movie.description }}</p>
    <ul class="movie-meta">
      <li><strong>Año:</strong> {{ movie.year }}</li>
      <li><strong>Duración:</strong> {{ movie.duration }}</li>
      <li><strong>Género:</strong> {{ movie.genre }}</li>
    </ul>

    <div #backButton
         [attr.tabIndex]="0"
         (click)="goBack()"
         (keydown)="onKeyDown($event)"
         class="back-button">
      Volver a la pantalla principal
    </div>
  </div>
</div>

<ng-template #error>
  <p class="error-message">No se pudo cargar la información de la película. Intenta nuevamente.</p>
</ng-template>
